body {
    font-family: arial;
}

h1 {
    text-align: center;
    margin: 30px;
}

p {
    text-align: center;
    font-size: 20px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%;

    font-size: 25px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 10%;

    font-size: 20px;
}

ul {
  list-style-type: none;
  padding-left: 2%;
  padding-top: 2%;
}

a {
  display: block;
  text-decoration: none;
  width: 100px;
}

a div {
  display: inline-block;
  padding: 10px;
  width: 100px;
  color: black;
  background-color: lightgray;

}


.active {
  color: black;
  border-left-style: solid;
  border-left-color: gray;
  border-left-width: 8px;
  width: 92px
}
